<!DOCTYPE html>
<html>
  <head>
    <title>Member Ragistration Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="/static/login/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
          <!-- <div class="img-left d-none d-md-flex"></div> -->

          <div class="card-body">
            <h1 class="text-center">
              <img
                class="mx-4"
                src="/static/images/socity_logo.png"
                width="80px"
                height="100px"
                alt=""
              />GOKULDHAM SOCIETY
            </h1>
            <h4 class="title text-center mt-4">Member Registration Form</h4>
            <form
              class="form-box px-3"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="text"
                    placeholder="First Name"
                    name="first_name"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="text"
                    name="last_name"
                    placeholder="Last Name"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="password"
                    name="password1"
                    placeholder="Password"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="password"
                    name="password2"
                    placeholder="Confirm Password"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="number"
                    name="mobile"
                    placeholder="Mobile Number"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <h6
                    style="
                      position: absolute;
                      bottom: 48px;
                      background-color: white;
                      left: 55px;
                      font-weight: normal;
                    "
                  >
                    Date Of Birth
                  </h6>
                  <input
                    type="date"
                    name="birthdate"
                    placeholder="Date Of Birth"
                    id="dateofbirth"
                    tabindex="10"
                    required
                  />
                </div>

                <div class="form-input col-6">
                  <select
                    class="w-100 rounded rounded-pill"
                    aria-label="Default select example"
                    style="
                      height: 41.4px;
                      outline: none;
                      padding-left: 40px;
                      border-color: rgb(223, 223, 223);
                    "
                    name="gender"
                  >
                    <option selected>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    type="text"
                    name="address"
                    placeholder="Address"
                    tabindex="10"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <input
                    type="number"
                    name="adhar"
                    placeholder="Aadhar Number"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-input col-6">
                  <input
                    class="pt-2 rounded rounded-pill"
                    type="file"
                    name="profile_img"
                    required
                  />
                </div>
                <div class="form-input col-6">
                  <select
                    class="w-100 rounded rounded-pill"
                    aria-label="Default select example"
                    style="
                      height: 41.4px;
                      outline: none;
                      padding-left: 40px;
                      border-color: rgb(223, 223, 223);
                    "
                    name="membertype"
                  >
                    <option selected>Family Type</option>
                    <option>Owner Family</option>
                    <option>Tenant Family</option>
                    <option>Care taker</option>
                  </select>
                </div>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-block text-uppercase">
                  Register
                </button>
                <span>{{msg}}</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
